<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{appName}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a routerLink="/user" routerLinkActive="active">All CRUD Operations</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/studentlogin" routerLinkActive="active">Student Login</a></li>
      <li><a routerLink="/studentregisteration" routerLinkActive="active">Student Registration</a></li>
    </ul>
  </div>
</nav>

  <router-outlet></router-outlet>