<section>
<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2 text-center">
<h2 class="text-uppercase">Online Examination System</h2>
<div class="divider"></div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas facere vero ex tempora saepe perspiciatis ducimus sequi animi.</p>
</div>
<div class="col-md-4 ">
<div class="pv-30 ph-20 service-block bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
<span class="icon bg-df circle"><i class="fa fa-graduation-cap"></i></span>
<h3>Student</h3>
<div class="divider clearfix"></div>
<p>Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet, consectetur.</p>
<a routerLink="/studentlogin" routerLinkActive="active">Student Login <i class="pl-5 fa fa-angle-double-right"></i></a>
</div>
</div>
<div class="col-md-4 ">
<div class="pv-30 ph-20 service-block bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
<span class="icon bg-df circle"><i class="fa fa-university"></i></span>
<h3>Center</h3>
<div class="divider clearfix"></div>
<p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.</p>
<a routerLink="/centerlogin" routerLinkActive="active">Center Login <i class="pl-5 fa fa-angle-double-right"></i></a>
</div>
</div>
<div class="col-md-4 ">
<div class="pv-30 ph-20 service-block bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
<span class="icon bg-df circle"><i class="fa fa-laptop"></i></span>
<h3>Admin</h3>
<div class="divider clearfix"></div>
<p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.</p>
<a routerLink="/adminlogin" routerLinkActive="active">Admin Login <i class="pl-5 fa fa-angle-double-right"></i></a>
</div>
</div>
</div>
</div>
</section>